	
	@import url('bootstrap.min.css');
	@import url('bootstrap-responsive.min.css');
	
	body {
		background: url('../img/background.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	div.well {
		margin-top: 30px;
	}
		
		div.well h1 {
			margin-bottom: 10px;
		}
	
	div.copyright {
		bottom: 10px;
		color: #fff;
		right: 10px;
		position: absolute;
	}
	