<!doctype>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="css/style.css" rel="stylesheet" type="text/css"/>
		<title>kenthack &raquo; A hackathon at UKC</title>
		{% include analytics.html %}
	</head>
	<body>
		<div class="container">
			
			<div class="row-fluid content">
				<div class="span4">
					<header>
						<h1>kenthack</h1>
						<h2>A hackathon at the University of Kent.</h2>
					</header>
				</div>
				<div class="span8">
					<section class="content">
						<h2>Thank you for signing up to kenthack!</h2>
						
						<p>Be sure to <a href="//twitter.com/kenthack">follow us on Twitter</a> and <a href="//facebook.com/kenthackathon">like us on Facebook</a> to get real-time updates!</p>
					</section>
				</div>
			</div>
			
			{% includes footer.html %}
		</div>
		<script src="//code.jdrydn.com/js/jquery/jquery.1.7.1.min.js" type="text/javascript"></script>
		<script src="js/countdown.js" type="text/javascript"></script>
		<script src="js/tweets.js" type="text/javascript"></script>
	</body>
</html>