---
layout: default
---
			
			<div class="row-fluid content">
				<div class="span4">
					<header>
						<h1>kenthack</h1>
						<nav>
							<ul class="unstyled">
								<li><a href="/">Home</a></li>
								<li><a href="/events">Recent Events</a></li>
								<li><a href="/posts">Recent Posts</a></li>
							</ul>
						</nav>
					</header>
				</div>
				<div class="span8">
					<section class="content">
						
						{{ content }}
						
					</section>
				</div>
			</div>
			
			{% include footer.html %}